# Laravel / Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/logs/
backend/bootstrap/cache/
backend/firebase-credentials.json

# Flutter / Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub-cache/
mobile/pubspec.lock
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/ephemeral/
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/local.properties
mobile/android/.idea/
mobile/android/.gradle/
mobile/android/captures/
